*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

.dashboard {
  display: grid;
  min-height: 100vh;
  transition: all 0.3s ease;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 30px;
  grid-template-areas: "header" "main" "footer";
}

.dashboard__sidebar {
  display: none;
}

@media (min-width: 768px) {
  .dashboard {
    grid-template-columns: 220px auto;
    grid-template-rows: 70px 1fr 30px;
    grid-template-areas: "sidebar header" "sidebar main" "sidebar footer";
  }
  .dashboard__sidebar {
    display: flex;
  }
}
h1, h2, h3 {
  color: #1B0E2F;
}

p {
  color: #7A767F;
}

.dashboard__sidebar {
  border-right: 1px solid #e6e6e6;
}
.dashboard__main {
  background-color: #F8F7FA;
}

.card {
  background: #ffffff;
  border: 1px solid #dfeaf2;
}
.card__tags {
  background: #ffffff;
}
.card__tags .card__tag {
  background: rgba(0, 151, 169, 0.1);
  color: #0097a9;
}

.dashboard {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.dashboard__header {
  grid-area: header;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 16px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
}
.dashboard__header-img {
  width: 60px;
}
.dashboard__header-logo-img {
  width: 90px;
}
.dashboard__header-title {
  font: 700 18px/normal "Arimo", sans-serif;
}
.dashboard__header-search {
  width: 260px;
  text-align: center;
}

@media (min-width: 768px) {
  .dashboard__header-logo {
    display: none;
  }
  .dashboard__header-title {
    font: 700 26px/normal "Arimo", sans-serif;
  }
}
.dashboard__sidebar {
  grid-area: sidebar;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
  overflow-y: auto;
  max-height: 100vh;
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
  padding: 0px 24px;
}
.dashboard__sidebar-content {
  display: inherit;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
}
.dashboard__sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
}
.dashboard__sidebar-img {
  width: 60px;
}
.dashboard__sidebar-logo-img {
  width: 120px;
}
.dashboard__sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.dashboard__sidebar-icon {
  width: 18px;
  height: 18px;
  background-color: currentColor;
  mask: url("/assets/icons/icon-dash.svg") no-repeat center;
  -webkit-mask: url("/assets/icons/icon-dash.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}
.dashboard__sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 14px;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}
.dashboard__sidebar-link:hover {
  background: #da291c;
  color: #ffffff;
}
.dashboard__sidebar-link--active {
  color: #ffffff;
  background: #da291c;
}

.dashboard__main {
  grid-area: main;
  padding: 16px;
  height: 100%;
  overflow: hidden;
}

.cards-powerbi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.cards-powerbi__information {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 8px;
  text-align: center;
}
.cards-powerbi__header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cards-powerbi__header-search {
  display: none;
}
.cards-powerbi__title {
  font: 700 16px/normal "Arimo", sans-serif;
  align-items: center;
}
.cards-powerbi__description {
  font: 400 13px/normal "Arimo", sans-serif;
}
.cards-powerbi__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media (min-width: 768px) {
  .dashboard__main {
    padding: 34px 24px;
  }
  .cards-powerbi__information {
    text-align: left;
  }
  .cards-powerbi__title {
    font: 600 22px/normal "Arimo", sans-serif;
  }
  .cards-powerbi__description {
    font: 400 14px/normal "Arimo", sans-serif;
  }
  .cards-powerbi__list {
    grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
    min-height: 150px;
    overflow-y: scroll;
  }
  .cards-powerbi__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cards-powerbi__header-search {
    display: block;
    width: 450px;
  }
}
.dashboard__footer {
  grid-area: footer;
  background: white;
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 0.9rem;
  transition: background 0.3s ease, color 0.3s ease;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  overflow: hidden;
  border-radius: 10px;
  width: auto;
  text-align: center;
  cursor: pointer;
}
.card__image {
  width: 100%;
  height: 110px;
  border-radius: 4px;
  object-fit: cover;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.card__title {
  padding: 0 10px;
  height: 40px;
  font: 500 14px/normal "Arimo", sans-serif;
}
.card__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.card__tags .card__tag {
  padding: 6px;
  border-radius: 4px;
  font: 400 13px/normal "Arimo", sans-serif;
}

@media (min-width: 768px) {
  .card {
    padding: 14px;
    gap: 8px;
    border-radius: 12px;
  }
  .card__image {
    height: 120px;
    border-radius: 6px;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
  .card__title {
    padding: 0 10px;
    height: 60px;
    font: 500 14px/normal "Arimo", sans-serif;
  }
  .card__tags .card__tag {
    font: 300 12px/normal "Arimo", sans-serif;
  }
}
.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
}
.modal--active {
  display: flex;
}
.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.modal__content {
  position: relative;
  background: #ffffff;
  max-width: 300px;
  margin: 10% auto;
  padding: 30px;
  border-radius: 20px;
  z-index: 1;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 45px;
}
.modal__image {
  display: none;
}
.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: 0.3 ease all;
  color: #0097a9;
}
.modal__close:hover {
  border-radius: 50%;
  background-color: rgb(239, 215, 215);
  stroke: red;
}
.modal__information {
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.modal__title {
  font-size: 18px;
  font-weight: 600;
  min-width: 250px;
  margin-top: 20px;
}
.modal__description {
  font-size: 14px;
  font-weight: 300;
  height: 150px;
  overflow-y: scroll;
  text-overflow: ellipsis;
}
.modal__buttons {
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (min-width: 768px) {
  .modal__content {
    max-width: 450px;
    padding: 30px;
    border-radius: 30px;
    gap: 10px;
  }
  .modal__image {
    display: block;
    max-width: 80px;
  }
  .modal__close {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .modal__description {
    font-size: 14px;
    font-weight: 300;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .modal__buttons {
    margin-top: 24px;
  }
}
.header__input {
  padding: 12px 24px;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  width: 100%;
  color: #1B0E2F;
}

.btn {
  cursor: pointer;
}
.btn--primary {
  border: 1px solid #da291c;
  color: #da291c;
  font: 600 14px/normal "Arimo", sans-serif;
  width: 250px;
  border-radius: 50px;
  padding: 10px 24px;
  transition: 0.3 ease all;
}
.btn--primary:hover {
  background-color: #da291c;
  border: 1px solid #da291c;
  color: #ffffff;
}
.btn--link {
  color: #0097a9;
  font: 300 14px/normal "Arimo", sans-serif;
}
.btn--link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
