// 1. Base
@use "base/reset";

// 2. Layout
@use "layout/layout";
@use "layout/header";
@use "layout/sidebar";
@use "layout/main";
@use "layout/footer";

// 3. Components
@use "components/cards";
@use "components/modals";
@use "components/button";

// 4. Pages
@use "pages/details";