@use "../base/colors" as clr;
@use "../base/typography" as typo;

.dashboard__header {
  grid-area: header;
  position: sticky;
  top: 0;
  // left: 260px; // ancho del sidebar
  right: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 40px;
  border-bottom: 1px solid clr.$clr_border_line;
  background-color: clr.$clr_light;
  &-title {
    font: typo.$fontH1;
  }
}
