@use "../base/colors" as clr;
@use "../base/typography" as typo;

.dashboard__header {
  grid-area: header;
  // position: sticky;
  // top: 0;
  // right: 0;
  // z-index: 200;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 16px;
  border-bottom: 1px solid clr.$clr_border_line;
  background-color: clr.$clr_light;
  &-img {
    width: 60px;
  }
  &-logo-img {
    width: 90px;
  }
  &-title {
    font: typo.$fontH1Mobile;
    display: none;
  }
  &-search {
    align-items: center;
    width: 280px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .dashboard__header {
    &-logo {
      display: none;
    }
    &-title {
      font: typo.$fontH1Desktop;
      display: block;
    }
  }
}
