@use "../base/colors" as clr;
@use "../base/typography" as typo;

.dashboard__header {
  grid-area: header;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 40px;
  border-bottom: 1px solid clr.$clr_border_line;
  background-color: clr.$clr_light;
  &-img {
    width: 60px;
  }
  &-logo-img {
    width: 90px;
  }
  &-title {
    font: typo.$fontH1Desktop;
  }
  &-search {
    width: 260px;
    text-align: center;
  }
  // &-avatar{
  //   background-color: black;
  //   width: 45px;
  //   height: 45px;
  //   border-radius: 50%;
  // }
}
