@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.dashboard__main {
  grid-area: main;
  padding: 16px;

  height: 100%;
  overflow: hidden;
  // background-color: red;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   z-index: 100;
  // &-content {
  //   max-width: 1172px;
  // width: 100%;
  //   margin-inline: auto;
  // }
}
.cards-powerbi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  &__information {
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 8px;
    text-align: center;

    // flex-shrink: 0;
  }
  &__header {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__header-search {
    display: none;
  }
  &__title {
    font: typo.$fontH2Mobile;
    align-items: center;
  }
  &__description{
    font: typo.$fontParagraphMobile;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    // flex: 1;
    // overflow-y: auto;
    // padding-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .dashboard__main {
    padding: 34px 24px;
  }
  .cards-powerbi {
    &__information {
      text-align: left;
    }
    &__list {
      // height: 500px;
      // overflow-y: scroll;
      grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
    }
    &__header {
      display: flex;
      justify-content: space-between;
    }
    &__header-search {
      display: block;
    }
  }
}
