@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.dashboard__sidebar {
  grid-area: sidebar;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
  overflow-y: auto;
  max-height: 100vh;
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
  padding: 0px 24px;

  // height: 100%;
  // overflow: hidden;

  &-content {
    display: inherit;
    flex-direction: column;
    gap: 24px;
    height: 100vh;
  }

  // Logo
  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
  }
  &-img {
    width: 60px;
  }
  &-logo-img {
    width: 120px;
  }
  // Navegacion
  // &-nav{
  //   border: 1px solid green;
  //   min-height: 100px;
  // }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid red;
    // overflow-y: scroll;
  }
  // &-icon {
  //   width: 8px;
  //   height: 8px;
  //   background-color: clr.$clr_claro;
  //   border-radius: 50px;
  //   // background-color: currentColor;
  //   // mask: url("/assets/icons/icon-dash.svg") no-repeat center;
  //   // -webkit-mask: url("/assets/icons/icon-dash.svg") no-repeat center;
  //   // mask-size: contain;
  //   // -webkit-mask-size: contain;
  // }
  &-link {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 8px;
    border-radius: 8px;
    font-size: 14px;
    // color: clr.$clr_primary;
    transition:
      background-color 0.2s,
      color 0.2s;
    &:hover {
      background: clr.$clr_claro;
      color: clr.$clr_light;
    }
  }
  &-link--active {
    color: clr.$clr_light;
    background: clr.$clr_claro;
  }
}
