@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.dashboard__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  // height: auto;
  background-color: white;
  &-logo {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  &-logo-img {
    width: 90px;
    object-fit: contain;
  }
  &-toggle {
    background: none;
    border: none;
    font-size: 26px;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;

    .sidebar__icon-close {
      display: none;
    }
  }
  &-nav {
    position: fixed;
    top: 64px; /* justo debajo del header */
    left: 0;
    width: 100%;
    height: calc(100vh - 64px - 32px); /* ocupa toda la pantalla restante */
    background-color: rgb(237, 235, 235);
    display: none;
    overflow-y: auto; /* si hay muchas opciones, se hace scroll */
    z-index: 999;
  }
  &--open {
    .dashboard__sidebar-nav {
      display: block;
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    }
  }
  &-list {
    padding: 16px;
  }

  &-link {
    display: block;
    padding: 12px 0;
    font-size: 18px;
  }
  &--open {
    .dashboard__sidebar-nav {
      display: block;
    }
    .dashboard__sidebar-toggle {
      .sidebar__icon-menu {
        display: none;
      }
      .sidebar__icon-close {
        display: inline-block;
      }
    }
  }
}

/* Desktop */
@media (min-width: 768px) {
  .dashboard__sidebar {
    display: flex;
    flex-direction: column;
    z-index: 200;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    overflow: hidden;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 90px;
    }
    &-img {
      width: 60px;
    }
    &-logo-img {
      width: 120px;
    }
    &-toggle {
      display: none;
    }

    &-nav {
      position: static;
      display: block;
      height: auto;
      background: transparent;
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 12px 8px;
      border-radius: 8px;
      font-size: 14px;
      transition:
        background-color 0.2s,
        color 0.2s;
      &:hover {
        background: clr.$clr_claro;
        color: clr.$clr_light;
      }
    }
    &-link--active {
      color: clr.$clr_light;
      background: clr.$clr_claro;
    }
    &--open {
      .dashboard__sidebar-toggle {
        .sidebar__icon-menu,
        .sidebar__icon-close {
          display: none;
        }
      }
    }
  }
}
