@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.header__input {
  padding: 12px 24px;
  border: 2px solid clr.$clr_border_line;
  border-radius: 50px;
  width: 100%;
  color: clr.$clr_title;
}

.btn {
  cursor: pointer;
  &--primary {
    border: 1px solid clr.$clr_claro;
    color: clr.$clr_claro;
    font: typo.$fontBtnPrimary;
    width: 250px;
    border-radius: 50px;
    padding: 10px 24px;
    transition: 0.3 ease all;
    &:hover {
      background-color: clr.$clr_claro;
      border: 1px solid clr.$clr_claro;
      color: clr.$clr_light;
    }
  }
  &--link{
    color: clr.$clr_tag_card;
    font: typo.$fontBtnSecondary;
    &:hover {
      text-decoration: underline;
    }
  }
}
