@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.card {
  padding: 10px 0;
  min-width: 0;

  &__media {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: inherit;
    outline: none;
    letter-spacing: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      .card__eye {
        opacity: 1;
      }
      .card__image {
        filter: brightness(0.9);
      }
    }
  }
  &__eye {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #0d99ff;
    color: white;
    padding: 6px;
    border-radius: 6px;
    opacity: 0;
  }
  &__info {
    position: relative;
    font-size: 18px;
    border-radius: 50px;
    color: gray;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      color: #0d99ff;
    }
    &::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: calc(100% + 8px);
      right: 0;
      background-color: #111;
      font-size: 10px;
      padding: 6px 10px;
      border-radius: 6px;
      white-space: nowrap;
      color: white;

      opacity: 0;
      transform: translateY(4px);
      pointer-events: none;
    }
    &:hover::after {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__image {
    // width: 100%;
    // height: 110px;
    // border-radius: 4px;
    // object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
    overflow-clip-margin: unset;
    border-radius: 6px;
    border: 1px solid #dfeaf2;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: default;
    margin-top: 12px;
    gap: 8px;
  }
  &__information {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // margin: -4px 0 -3px;
    gap: 4px;
    min-width: 0;
  }

  &__title {
    // padding: 0 10px;
    // height: 40px;
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    display: none;
    .card__tag {
      padding: 6px;
      border-radius: 4px;
      font: typo.$fontParagraphMobile;
    }
  }
}

// @media (min-width: 768px) {
//   .card {
//     // padding: 14px;
//     // gap: 8px;
//     // border-radius: 12px;

//     &__image {
//       height: 120px;
//       border-radius: 6px;
//     }

//     &__content {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       gap: 12px;
//     }
//     &__title {
//       padding: 0 10px;
//       height: 60px;
//       font: typo.$fontH3_sm;
//     }

//     &__tags {
//       .card__tag {
//         font: typo.$fontLabelTag_xs;
//       }
//     }
//   }
// }
