@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
  overflow: hidden;
  border-radius: 12px;
  width: 214px;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    object-fit: cover;
  }

  // Card Content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  &__title {
    height: 60px;
    font: typo.$fontH3;
  }

  // Tags
  &__tags {
    .card__tag {
      padding: 6px;
      border-radius: 4px;
      font: typo.$fontLabelTag;
    }
  }
}
// .card {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   min-height: 260px;
//   border-radius: 12px;
//   background-color: white;
//   overflow: hidden;
//   border: 1px solid green;

//   &__media {
//     position: relative;
//     width: 100%;
//     height: 180px;
//     overflow: hidden;
//   }
//   &_image {
//     width: 100%;
//     height: 100%;
//     object-fit: cover; // se adapta al width
//     object-position: center;
//     display: block;
//   }
//   &_content {
//     display: inherit;
//     flex-direction: column;
//     justify-content: center;
//     gap: 24px;
//   }
//   &__summary {
//     // border: 1px solid green;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     gap: 20px;
//   }
//   &__header {
//     display: inherit;
//     justify-content: space-between;
//     .card__title {
//       // color: red;
//       // font-size: 20px;
//       // font-weight: 600;
//       color: clr.$clr_text;
//       //   @include mixi.text-style(18, 20, 1.5, 600);
//     }
//   }
//   &__tags {
//     .card__tag {
//       background: rgba(clr.$clr_tag, 0.1);
//       padding: 6px;
//       border-radius: 4px;
//       font: typo.$fontLabelStackTech;
//       color: clr.$clr_tag;
//     }
//   }
// }
