@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  overflow: hidden;
  border-radius: 10px;
  width: auto;
  text-align: center;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 110px;
    border-radius: 4px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
  &__title {
    padding: 0 10px;
    height: 40px;
    font: typo.$fontH3Mobile;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    display: none;
    .card__tag {
      padding: 6px;
      border-radius: 4px;
      font: typo.$fontParagraphMobile;
    }
  }
}

@media (min-width: 768px) {
  .card {
    padding: 14px;
    gap: 8px;
    border-radius: 12px;

    &__image {
      height: 120px;
      border-radius: 6px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
    }
    &__title {
      padding: 0 10px;
      height: 60px;
      font: typo.$fontH3_sm;
    }

      &__tags {
      .card__tag {
        font: typo.$fontLabelTag_xs;
      }
    }
  }
}
