@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
  &--active {
    display: flex;
  }
  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  &__content {
    position: relative;
    background: clr.$clr_light;
    max-width: 300px;
    margin: 10% auto;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid clr.$clr_border_line_card;
    z-index: 1;
    height: fit-content;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 45px;
  }
  &__image {
    display: none;
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: 0.3 ease all;
    color: clr.$clr_tag_card;

    &:hover {
      border-radius: 50%;
      background-color: rgb(239, 215, 215);
      stroke: red;
    }
  }
  &__information {
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  &__title {
    font-size: typo.$fs-md;
    font-weight: 600;
    min-width: 250px;
    margin-top: 20px;
  }
  &__description {
    font-size: typo.$fs-sm;
    font-weight: 300;
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-height: 200px;
  }
  &__buttons {
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .modal {
    &__content {
      max-width: 450px;
      padding: 30px;
      border-radius: 30px;
      gap: 10px;
    }
    &__image {
      display: block;
      max-width: 80px;
    }

    &__close {
      position: absolute;
      top: 25px;
      right: 25px;
    }
    &__description {
      font-size: typo.$fs-sm;
      font-weight: 300;
      height: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__buttons {
      margin-top: 24px;
    }
  }
}
