@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;

.modal {
  position: fixed;
  inset: 0;
  display: none;
  place-items: center;
  z-index: 1000;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 20px;

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  &__content {
    position: relative;
    background: clr.$clr_light;
    max-width: 500px;
    min-height: 250px;
    margin: 20% auto;
    padding: 20px;
    border-radius: 8px;
    z-index: 1;
  }
  &__title {
    margin-bottom: 10px;
  }
}

.modal.active {
  display: block;
}

.modal__description {
  margin-bottom: 20px;
}

.modal__button {
  padding: 10px 16px;
  background: #0078d4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
