@use "./typography" as type;
@use "./colors" as clr;

.dashboard {
  display: grid;
  grid-template-columns: clr.$sidebar_width 1fr;
  grid-template-rows: clr.$header_height 1fr auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  min-height: 100vh;
  transition: all 0.3s ease;
  background: clr.$clr_bg;
}
