@use "../base/colors" as clr;
@use "../base/typography" as typo;
@use "../base/mixins" as mixi;



.detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    &__left{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__preview{
        width: 100%;
        height: 200px;
        background-color: currentColor;
    }
    &__description{
        display: inherit;
        flex-direction: column;
        text-align: left;
    }
    &__right{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__field{
        display: inherit;
        flex-direction: column;
        text-align: left;
        gap: 2px;
    }
    &__label{
        text-align: left;
        font-size: 10px;
    }
    &__value{
        width: 100%;
        // font-size: 14px;
        border: 1px solid gray;
        border-radius: 6px;
        padding: 10px 15px;
        background-color: white;
        align-items: center;
    }
    &__herramienta{
        border: 1px solid #d3d60c;
        border-radius: 50px;
        padding: 2px 16px;
    }
}